<nav class="navbar navbar-expand-md {{ navbarClass if navbarClass else 'navbar-dark' }} d-flex-none">
  <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
    <i class="material-icons align-middle md-36">short_text</i>
  </button>
  <div class="page-title m-0">{{ pageTitle }}</div>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item nav-link">
        <div class="form-group m-0">
          <div class="input-group input-group--inline">
            <div class="input-group-addon">
              <i class="material-icons">search</i>
            </div>
            <input type="text" class="form-control" name="search" placeholder="Search app..">
          </div>
        </div>
      </li>

      <li class="nav-item  align-self-center">
        <a href="https://themeforest.net/item/hero-pro-bootstrap-4-admin-dashboard-theme/21525206?ref=Frontted" class="btn btn-success nav-button">
          <i class="material-icons align-middle md-18">monetization_on</i>
          <span class="align-middle text-uppercase">Buy Pro</span>
        </a>
      </li>

      <li class="nav-item  align-self-center mr-2">
        <a href="https://github.com/frontted/hero-base" class="btn btn-white nav-button d-flex">
          <span class="align-self-center mr-1">
            <svg height="16" width="16" class="octicon octicon-mark-github align-middle" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
          </span>
          <span class="align-middle text-uppercase">Github</span>
        </a>
      </li>

      <li class="nav-item dropdown nav-dropdown">
        <a href="#" class="nav-link dropdown-toggle dropdown-clear-caret" data-toggle="dropdown" aria-expanded="true">
          Frontted
          <img src="https://pbs.twimg.com/profile_images/928893978266697728/3enwe0fO_400x400.jpg" class="img-fluid rounded-circle ml-1" width="35"
          alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-account">
          <div class="account-info">
            <img src="assets/images/avatars/person-3.jpg" class="img-fluid rounded-circle mr-2" width="45" alt="">
            <div class="lh-12">
              <a href="#"><strong>Andrew Robles</strong></a>
              <div class="text-light">Site Manager</div>
            </div>
          </div>
          <ul class="list-unstyled account-menu">
            <li><a href="#" class="dropdown-item "><i class="material-icons md-18 align-middle mr-1">lock</i> <span class="align-middle">Account</span></a></li>
            <li><a href="#" class="dropdown-item "><i class="material-icons md-18 align-middle mr-1">account_circle</i> <span class="align-middle">Profile</span></a></li>
            <li><a href="#" class="dropdown-item"><i class="material-icons md-18 align-middle mr-1">settings</i> <span class="align-middle">Settings</span></a></li>
            <li>
              <a href="#" class="dropdown-item">
                <i class="material-icons md-18 align-middle mr-1">build</i>
                <span class="align-middle">Support</span>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-item">
                <i class="material-icons md-18 align-middle mr-1">question_answer</i>
                <span class="align-middle">FAQ</span>
              </a>
            </li>
            <li><a href="login.html" class="dropdown-item"><i class="material-icons md-18 align-middle mr-1">exit_to_app</i> <span class="align-middle">Logout</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
